<ion-view view-title="Home" class="backgroundHome">
      <ion-content class="homeText">
        You want to <br />visit ?
      </ion-content>
      <ion-content class="homeDescription">
        Visit a lot of important points of view in the world !
      </ion-content>
    <a class="button button-positive buttonHomeLogin" ng-hide="user.isLogin" href="#/app/login">LOGIN</a>
    <a class="button button-positive buttonHomeRegister" ng-hide="user.isLogin" href="#/app/register">SIGN IN</a>
</ion-view>
