<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
      <ion-view view-title="Home" class="backgroundHome">
      <ion-content class="homeText">
        You want to <br />visit ?
      </ion-content>
      <ion-content class="homeDescription">
        Visit a lot of important points of view in the world !
      </ion-content>
      <a class="button button-positive buttonHomeLogin" ng-hide="user.isLogin" href="#/app/login">Login</a>
      <a class="button button-positive buttonHomeRegister" ng-hide="user.isLogin" href="#/app/register">Sign in</a>
      </ion-view>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>


