<!--<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>-->
      <ion-view view-title="Home" class="backgroundHome">
        <ion-content>
          <div class="homeDescription">
          <img src="../img/text_introduction.png"/>
          </div>
          <div class="homeLoginSignIn">
          <a class="button button-positive buttonHomeLogin" ng-hide="user.isLogin" href="#/app/login">Login</a>
          <a class="button button-positive buttonHomeRegister" ng-hide="user.isLogin" href="#/app/register">Sign in</a>
          </div>
          <div class="homeLast">
            <a id="homeLastSignIn" ng-hide="user.isLogin" ng-click="linkGuess()">Sign in later</a>
          </div>
        </ion-content>
      </ion-view>
    <!--</ion-slide-page>
    <ion-slide-page>
      <ion-view view-title="Help" class="backgroundSlide1">
      </ion-view>
    </ion-slide-page>
    <ion-slide-page>
      <ion-view view-title="Help" class="backgroundSlide2">
      </ion-view>
    </ion-slide-page>
    <ion-slide-page>
      <ion-view view-title="Help" class="backgroundSlide3">
      </ion-view>
    </ion-slide-page>
  </ion-slides>-->
</ion-content>





