<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="submitLogin()">
      <div class="list">
        <label class="item item-input">
          <input type="email" ng-model="user.email" placeholder="Email...">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password" placeholder="Password...">
        </label>
        <span class="errorMessage">{{ errorMessage }}</span>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <div class="sizeDivButton">
    <button id="colorGmail" class="item button button-block button-assertive" type="submit" ng-click="gmailAuth()"><img class="imageStyle" src="../img/logoGmail.png"/>&nbsp;&nbsp;Gmail</button>
    </div>
    <div class="sizeDivButton">
      <button id="colorFacebook" class="button button-block button-positive" type="submit" ng-click="facebookAuth()"><img class="imageStyle" src="../img/logoFacebook.png"/>&nbsp;&nbsp;Facebook</button><br/>
    </div>
    <p id="linkForget" >
      <a ng-click="forgotPassword()">Forgot password</a>
    </p>



  </ion-content>
</ion-view>
