<ion-content scroll="false">

  <ion-slides options="options" slider="data.slider">
    <ion-slide-page>
      <ion-view view-title="Home" class="backgroundHome">
        <ion-content>
          <div class="homeDescription">
            <img src="../img/text_introduction.png"/>
          </div>
          <div class="sizeDivGmailFb">
            <button id="colorGmail" class="item button button-block button-assertive" type="submit" ng-click="gmailAuth()"><img src="../img/logoGmail.png"/>&nbsp;&nbsp;Gmail</button>
            <button id="colorFacebook" class="item button button-block button-positive" type="submit" ng-click="facebookAuth()"><img src="../img/logoFacebook.ico"/>&nbsp;&nbsp;Facebook</button><br/>
          </div>
          <div class="sizeDivButton">
            <a class="button button-block button-positive buttonHomeLogin" href="#/login">Login</a>
            <a class="button button-block button-positive buttonHomeRegister" href="#/register">Sign in</a>
          </div>
          <br/><br/>
          <div>
            <p id="linkForget">
              <a id="linkForgetP" ng-click="forgotPassword()">Forgot password</a>
            </p>
          </div>

        </ion-content>
      </ion-view>
    </ion-slide-page>
    <ion-slide-page>
      <ion-view view-title="Help" class="backgroundSlide1">
      </ion-view>
    </ion-slide-page>
    <ion-slide-page>
      <ion-view view-title="Help" class="backgroundSlide2">
      </ion-view>
    </ion-slide-page>
    <ion-slide-page>
      <ion-view view-title="Help" class="backgroundSlide3">
      </ion-view>
    </ion-slide-page>
  </ion-slides>
</ion-content>



