<ion-view view-title="Register">
  <ion-content>
    <form ng-submit="register()">
      <label class="item item-input">
        <span class="input-label">Email :</span>
        <input type="text" ng-model="user.email" placeholder="yourEmail@gmail.com">
      </label>

      <label class="item item-input">
        <span class="input-label">Password :</span>
        <input type="password" ng-model="user.password" placeholder="yourPassword">
      </label>
      <label class="item item-input">
        <span class="input-label">Re-enter Password :</span>
        <input type="password" ng-model="user.passwordRepeat" placeholder="yourPassword">
      </label>
      <span class="errorMessage">{{ errorMessage }}</span>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Register</button>
      </label>
    </form>
  </ion-content>
</ion-view>
