<ion-view view-title="Research">
  <ion-content ng-show="showResearhForm">
    <form ng-submit="research()">

      <div class="right">
        <button class="button" type="button"  ng-click="geolocCity()">
          <i class="icon ion-android-locate"></i>
        </button>
      </div>

      <label class="item item-input">
        <input type="text" ng-autocomplete ng-model="search.departure" placeholder="Departure..." />
      </label>

      <label class="item item-input check-element animate-show-hide" ng-hide="search.clear">
          <input type="text" ng-autocomplete name="clearInput" ng-model="search.arrival" placeholder="Arrival...">
      </label>
      <br/>
      <label class="item item-input">
        <input type="number" ng-model="search.time" min="1" max="12" placeholder="Time..." >Hours
      </label>
      <label class="item item-input">
        <input type="number" ng-model="search.distance" min="100" max="50000" placeholder="Distance..." >Meters
      </label>
      <br/><br/>
      <ion-checkbox type="checkbox" ng-model="search.clear" aria-label="Toggle ngHide" onclick="getElementsByName('clearInput')[0].value = ''">
        Same as departure
      </ion-checkbox>
      <br/>
      <ion-checkbox type="checkbox" ng-click="setTransport('driving')">
        <img src="img/sports-car.png">
      </ion-checkbox>

      <ion-checkbox type="checkbox" ng-click="setTransport('bicycling')">
        <img src="img/bike.png">
      </ion-checkbox>

      <ion-checkbox type="checkbox" ng-click="setTransport('walking')">
        <img src="img/hiking.png">
      </ion-checkbox>

      <ion-checkbox type="checkbox" ng-click="setTransport('transit')">
        <img src="img/front-bus.png">
      </ion-checkbox>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Validate</button>
      </label>
      <label>
        <p>{{ errorMessage }}</p>
      </label>
    </form>
  </ion-content>
  <ion-content ng-hide="showResearhForm">
    <div id="map" style="height: 100%; width: 100%;"></div>
    <p>{{ errorMessage }}</p>
  </ion-content>
</ion-view>
