<ion-view view-title="Search Informations">

  <ion-content ng-show="showError" style="text-align: center;margin-top: 20%;">
    <p ng-show="showError" class="errorMessage">{{ errorMessage }}</p>
    <br><br>
    <img src="img/404error.jpg" alt="error">
  </ion-content>

  <ion-content ng-hide="showError">
    <div class="polaroid">
      <img class="styleImg" ng-show="parseResult.photos" src="{{ parseResult.photos[0] }}" alt="Image Not Found">
      <div class="container">
        <p class="align-center title">{{ parseResult.name }}</p>
      </div>
    </div>

    <div class="container row">
      <div class="col col-100">
        <p class="styleAdress">{{ parseResult.location[0] }}</p>
        <p class="styleAdress">{{ parseResult.location[1] }} {{ parseResult.location[2] }}</p>
      </div>
    </div>

    <div class="stars ratingStarsCenter" ng-show="user.isLogin">
      <form ng-submit="setNotation()">
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Medium - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Medium - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Medium - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Bad - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Very Bad - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Very Bad - 0.5 stars"></label>
        </fieldset>
        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-royal" type="reset">Reset</button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-royal" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>


    <div class="row">
      <div class="col col-50">
        <p>{{ parseResult.ratingGPlaces }} / 5 google Places</p>
        <p>{{ parseResult.rating }} / 10 likes Foursquare</p>
      </div>
      <div class="col col-50 align-center">
        <a href="http://facebook.com/{{ parseResult.contact.facebook }}"><img src="img/facebook.png"></a>
        <a style="margin-left:2%;" href="https://twitter.com/{{ parseResult.contact.twitter }}"><img src="img/twitter.png"></a>
        <a style="margin-left:2%;" href="https://www.instagram.com/{{ parseResult.contact.instagram }}"><img src="img/instagram.png"></a>
      </div>
    </div>


    <div class="schedules">
      <div class="schedulesBis">
        <p class="align-center title underlineSchedules">Schedules : </p>
      </div>
      <hr/>
      <p class="align-center boldSchedules" ng-repeat="hour in parseResult.openingHours"> {{ hour }}</p>
      <hr/>
    </div>
    <div class="styleImgFour">
      <div class="row">
        <div class="col col-50">
          <a href="{{ parseResult.photos[1] }}"><img src="{{ parseResult.photos[1] }}"></a>
        </div>
        <div class="col col-50">
          <a href="{{ parseResult.photos[2] }}"><img src="{{ parseResult.photos[2] }}"></a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a href="{{ parseResult.photos[3] }}"><img src="{{ parseResult.photos[3] }}"></a>
        </div>
        <div class="col col-50">
          <a href="{{ parseResult.photos[4] }}"><img src="{{ parseResult.photos[4] }}"></a>
        </div>
      </div>
    </div>
    <div class="styleReviews" ng-repeat="review in parseResult.reviews">
      <div class="row">
        <div class="col col-50">
          <a href=""><img class="styleImgProfil" src="{{ review.profile_photo_url }}"></a>
        </div>
        <div class="col col-50">
          <p class="colorPoV">{{ review.author_name }}</p>
          <p>{{ review.rating }} / 5</p>
        </div>
      </div>
      <p>{{ review.text }}</p>
    </div>
  </ion-content>
</ion-view>

