<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.pov550316" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PoV</name>
  <description>
        Application to consult a list of point of views and like their.
    </description>
  <author email="bratjulien@gmail.com" href="http://github.com/jbrat">
      BRAT Julien
      ABRIAL Kevin
      BARTHELEMY ALEXIS
      CHAMBON Clement
      REMACI Arslen
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <!-- Don't block any requests -->
  <access origin="*" />
</widget>
