.backgroundHome {
  background: url('../img/home.jpg') no-repeat fixed center;
}

.backgroundSlide1 {
  background: url('../img/help_slide_1.jpg') no-repeat fixed center;
}

.backgroundSlide2 {
  background: url('../img/help_slide_2.jpg') no-repeat fixed center;
}

.backgroundSlide3 {
  background: url('../img/help_slide_3.jpg') no-repeat fixed center;
}

.logoFacebook {
  background: url('../img/logoFacebook.png') no-repeat fixed center;
}

.homeDescription {
  color: white;
  text-align: center;
  font-size:18px;
  margin-top: 40%;

}

.homeLoginSignIn {
  text-align: center;
  font-size: 33px;
  color: white;
  margin-top: 1%;
}

.homeLast  {
  text-align: center;
  font-size:18px;
  margin-top: 1%;


}

#homeLastSignIn {
  text-decoration: underline;
  color: white;
}

.buttonHomeLogin {
  margin-top: 20%;
  margin-left: 5%;
  width:90%;
}

.buttonHomeRegister {
  margin-top: 10%;
  margin-left: 5%;
  width:90%
}

.homeLast {
 margin-top: 8%;
}

.errorMessage {
  color: red;
  font-size:14px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  width: 380px;
}

.scroll {
    height: 100%;
}
 
#map {
  height: 100%;
  width: 100%;
}

.positionTransport{
  width: 175px;
}

#linkForget{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.positionRight{
  float: right;
}

.positionLeft{
  float: left;
}



.textStyleBlue{
  color: #87CEEB;
  word-spacing: 5px;
  text-align: center;
  font-weight: bold;
}

.textStyleBlack{
  color: grey;
  word-spacing: 5px;
  text-align: center;
  font-weight: bold;
}

.textStyleGreen{
  color: #B0F2B6;
  word-spacing: 5px;
  text-align: center;
  font-weight: bold;
}

.textStyleOrange{
  color: salmon;
  word-spacing: 5px;
  text-align: center;
  font-weight: bold;
}

#colorFacebook{
  background-color: 3b5998;
}
