/* For all pages */

.backgroundHome {
  background: url('../img/home.jpg') no-repeat fixed center;
}

.backgroundSlide1 {
  background: url('../img/help_slide_1.jpg') no-repeat fixed center;
}

.backgroundSlide2 {
  background: url('../img/help_slide_2.jpg') no-repeat fixed center;
}

.backgroundSlide3 {
  background: url('../img/help_slide_3.jpg') no-repeat fixed center;
}

.logoFacebook {
  background: url('../img/logoFacebook.png') no-repeat fixed center;
}

.homeDescription {
  color: white;
  text-align: center;
  font-size:18px;
  margin-top: 10%;

}

.homeLoginSignIn {
  text-align: center;
  font-size: 33px;
  color: white;
  margin-top: 1%;
}

.homeLast  {
  text-align: center;
  font-size:18px;
  margin-top: 1%;


}

#homeLastSignIn {
  text-decoration: underline;
  color: white;
}

.buttonHomeLogin {
  margin-top: 5%;
  margin-left: 5%;
  width:90%;
}

.buttonHomeRegister {
  margin-top: 10%;
  margin-left: 5%;
  width:90%
}

.homeLast {
 margin-top: 8%;
}

.errorMessage {
  color: red;
  font-size:14px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.scroll {
    height: 100%;
}
 
#map {
  height: 100%;
  width: 100%;
}

.positionTransport{
  width: 175px;
}

.positionRight{
  float: right;
}

.positionLeft{
  float: left;
}

#positionButtonArrival{
  margin-left: 5%;
}

#linkForgetP {
  color: white;
}

#linkForget{
  color: white;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;

}

#colorFacebook{
  background-color: #3b5998;
}

.imageStyle {
  width: 1%;
  height: 1%;
  padding-top: 2%;
}

#colorGmail {
  background-color: #ec0c0c;
}

.textStyleViolet {
  color: #660099;
  word-spacing: 5px;
  text-align: center;
  font-weight: bold;
}

.sizeInputArrival {
  padding-right: 30%;
}

/**
  Search Page
 */

.title {
  margin-top:2%;
  text-align:center;
  font-weight: bold;
  font-size:18px;
  color: #660099;
}

.align-center {
  text-align:center;
}

.address {
  margin-left: 2%;
}


.sizeDivButton{
  padding-left: 10%;
  padding-right: 10%;
}

.styleImg {
  border-radius: 50%;
  margin-left: 10%;
}

div.polaroid {
  width: 95%;
  height: 40%;
  background-color: white;
  box-shadow: 6px 6px 5px #886aea;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.schedules {
  border: 6px ridge #886aea;
  margin: 2%;
}

.styleImgFour {
  margin: 2%;
  border: 6px ridge #886aea;
}

.styleReviews {
  margin:2%;
  border: 6px ridge #886aea;
}

.colorPoV {
  color: #660099;
  font-weight: bold;
  font-size:18px;
}

.styleImgProfil {
  border-radius: 50%;
}

.styleAdress {
  font-weight: bold;
  font-size:18px;
}

.underlineSchedules {
  font-weight: bold;
  text-decoration: underline;
}

.schedulesBis {
  border: 6px groove #886aea;
  margin: 2%;
}

.boldSchedules {
  font-weight: bold;
}

/* Rating vote */


.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.ratingStarsCenter {
  margin-left: 10%;
}

